{{ $json := getJSON "/data/links.json" }}

<table class="table">
    <thead>
        <tr>
        <th scope="col">Uploaded</th>
        <th scope="col">Url</th>
        <th scope="col">Slow</th>
        </tr>
    </thead>

    <tbody>
        {{ range $json }}
            <tr>
                <td id="uploaded" class="uploaded" value="{{.uploaded}}"></td>
                <td><a href="{{ .url }}">{{ .host }}</a></td>
                <td>{{ .slow }}</td>
            </tr>
        {{ end }}
    </tbody>
</table>

<script>
    let tag = document.getElementsByClassName("uploaded")

    for (let i = 0; i < tag.length; i++) {
        var timestamp = tag[i].getAttribute("value")
        tag[i].innerHTML = getUploaded(timestamp)
    }

    function getUploaded(timestamp) {
        let fullFill = (a, limit) => ("0".repeat(69) + a.toString()).slice(limit ? -limit : -2);

        let date = new Date(timestamp * 1000);

        let day = fullFill(date.getDate());
        let month = fullFill(date.getMonth());
        let year = fullFill(date.getFullYear(), 4);

        return `${day}/${month}/${year}`;
    }
</script>