{{ $json := getJSON "/data/links.json" }}

<table class="table">
    <thead>
        <tr>
            <th scope="col">OS</th>
            <th scope="col">Url</th>
            <th scope="col">Fast</th>
        </tr>
    </thead>

    <tbody>
        {{ range $json.linux }}
            <tr>
                <td>{{.os}} {{.version}}</td>
                <td><a href="{{ .url }}">{{ .host }}</a></td>
                <td>{{ .slow }}</td>
            </tr>
        {{ end }}
    </tbody>
</table>