{{ $json := getJSON "/data/links.json" }}

<table class="table" id="imagesTable">
    <thead>
        <tr>
            <th scope="col">Type</th>
            <th scope="col">Url</th>
            <th scope="col">Preview</th>
            <th scope="col">Contributor</th>
            <th scope="col">File Size</th>
        </tr>
    </thead>

    <tbody>
        {{ range $json.images }}
            <tr>
                <td>{{ .type }}</td>
                <td><a href="{{ .url }}">{{ .host }}</a></td>
                <td><a href="{{ .preview }}" target="_blank">Preview</a></td>
                <td>{{ if .contributor }} {{ .contributor }} {{ else }} - {{ end }}</td>
                <td>{{ if .size }} {{ .size }} {{ else }} - {{ end }}</td>
            </tr>
        {{ end }}
    </tbody>
</table>